<div id="page_wrapper">
  <div id="content">
    <div id="left1">
      <%= form_with model: @patient do |f| %>

        <%= f.label :name %><br>
        <%= f.text_field :name %>

        <p>
          <%= f.label :surname %><br>
          <%= f.text_field :surname %>
        </p>

        <p>
          Personal Code (can not be changed)
          <%= f.text_field :personalCode, :readonly => true %>
        </p>

        <p>
          Telephone Number<br>
          <%= f.text_field :telephoneNr %>
        </p>

        <p>
          E-mail address<br>
          <%= f.text_field :email, value:current_user.email %>
        </p>
        <p>
        <p>
          Address<br>
          <%= f.text_area :address %>
        </p>

        <p>
          <%= f.submit 'Save'%>
        </p>

      <% end %>

    </div>
    <div id="right1">
      <div id="profile_image">
        <%= image_tag "patient.png" %>
      </div>
    </div>
  </div>
</div>